main {
    font-family: Lato;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 10px;
}

.form-header {
    color: white;
    background-image: linear-gradient(to right, #BFF098, #6FD6FF);
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    letter-spacing: 1px;
    font-size: 10pt;
    font-weight: bold; 
    color: grey;
}

button {
    font-family: Lato;
    padding: 10px;
    /* background-color: white; */
}
.remove-button {
    color: #b2b2b2;
    font-weight: bold;
    border: 0px;
    background: white;
    position: absolute;
    top: 2px;
    right: 0px;
    z-index: 100
}

.line-break {
    margin-top: 35px;
    color: lightgrey;
    border: 0;
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.save-program-button {
    font-size: 10pt;
    color: #6FD6FF;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 0px;
    border-radius: 7px;
    transition-property: background;
    transition-duration: 0.5s;
}

.save-program-button:hover {
    background-color: #BFF098;
    /* background-image: linear-gradient(to right, #BFF098, #6FD6FF); */
    color: white;
}

.add-progLength-button {
    letter-spacing: 1px;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);

    border: 0px;
    border-top: solid 1px #ededed;
    border-radius: 0px 10px 10px 0px;
    margin-left: 10px;
    background: -webkit-linear-gradient(#a5e074, #57b6db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.add-exercise-button {
    letter-spacing: 1px;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);

    border: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 8px;
    background: -webkit-linear-gradient(#a5e074, #57b6db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    right: 0;
    font-weight: 900;
}

form {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
fieldset {
    border: none;
    margin-bottom: 25px;
}
input {
    font-family: sans-serif;
    font-weight: 100;
    color: grey;
    font-size: 12pt;
    /* margin-top: 5px; */
    margin-left: 15px;
    /* height: 30px;
    border: 0px none; */
    /* box-shadow: 0px 2px 7px #d1d1d1;
    border-radius: 0px 15px 15px 0px; */

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 1px lightgrey;
}
select {
    font-family: Lato;
    font-size: 9pt;
    margin-left: 15px;
    border-width: 1px;
    border-color: lightgrey;
}

::placeholder {
    font-size: 16px;
    color: lightgrey;
}

.programLength {
    width: 15%;
}
.programName {
    width: 95%;
    height: 30px;
    /* margin-top: 5px;
    border: 0px none;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 0px 15px 15px 0px; */

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 1px lightgrey;
}

.createProgCategories {
    position: relative;
    left: 90px;
    top: -15px;
}

.day {
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
    margin-bottom: 10px;
}

.exercises {
    position: relative;
}

.exercise {
    width: 98%;
    padding: 5px;
    margin-top: 7px;
    margin-left: auto; 
    margin-right: auto;
    position: relative;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}

.exercise-details {
    margin-left: 15px;
}

.errors {
    font-size: 10pt;
    font-style: italic;
    color: grey;
    margin: 5px;
}
.errors > li {
    margin-left: 15px;
}

@media screen and (min-width: 768px) {
    main {
        width: 75%;
    }
}

@media screen and (max-width: 480px) {
    main {
        width: 100%;
    }
}