body {
    background: url('/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}

header span {
    color: white
}

header a {
    color: white;
}

header ul {
    display: flex;
    align-items: center;
}

.bar {
    background-color: white;
}

.dropdown-menu>li {
    list-style: none;
    margin-bottom: 5px;
}

.dropdown-menu>li>a {
    color: white;
}

.main-text {
    color: white;
    font-family: Oswald;
    font-weight: 400;
    font-size: 24pt;
    position: absolute;
    top: 40%;
    left: 5%;
    width: 40%;
}

.main-text a {
    font-size: 18pt;
    text-decoration: underline;
    color: white;
}

.about-header {
    font-family: Oswald;
    font-size: 18pt;
}

#about {
    margin-top: 1000px;
    margin-bottom: 300px;
    padding: 15px;
    height: 400px;
    background-color: #f2f2f2;
    text-align: center;
}
.container {
    vertical-align: top;
    text-align: center;
    justify-content: space-evenly;
    width: 30%;
    padding: 25px;
    display: inline-block;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;

}

@media screen and (max-width: 480px) {
    .main-text {
        top: 35%;
    }
    #about {
        height: 450px;
    }
    .container {
        padding: 0;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin-top: 0px;
    }
}
