* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: sans-serif;
    font-size: 12pt;
    color: #686c70;
    font-weight: 100;
    background: #f2f2f2;
}

header {
    background-color: black;
    height: 75px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

header span {
    color: white;
    position: absolute;
    top: 17px;
    padding-left: 20px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

nav ul {
    color: white;
    position: absolute;
    right: 15px;
    top: 12px;
}

nav ul>li {
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

main {
    margin-top: 100px;
}

.circles-parent {
    text-align: center;
}

.col {
    display: inline-block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.middle-col {
    margin-left: 30px;
    margin-right: 30px;
}

img {
    width: 300px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.search-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.searchbox {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 2px #686c70;
    width: 450px;
}

/******* PROFILE/INDEX PAGE *******/

.lightbox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: black; 
  opacity: 0.7;  */
    display: none;
}

.lightbox[data-state='visible'] {
    display: block;
}

.lightbox-content {
    width: 560px;
    height: 315px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/******* SIGN UP PAGE *******/

.forms {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

legend {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.signup-input, .login-input {
  width: 100%;
  display: block;
}

.form-button {
    text-align: center;
    width: 100%;
}

.form-links {
  text-align: center;
}

/******* PROFILE PAGE *******/
.add-program-form {
    width: 500px;
}

.program {
    width: 500px;
}

.day-name {
    font-weight: bold;
}
.exercise-info {
    margin-left: 50px;
}

.editable:hover {
    background-color: #B0C4DE;
}
.edit-exercise:hover {
    background-color: #B0C4DE;
}

.edit-form {
    display: inline-block;
}


.programHeader {
    background-color: #B0E0E6;
    clear: both;
    height: 30px;
}
h2 {
    display: inline; 
    font-weight: 100;
}
.program-buttons {
    float: right; 
    clear: both;
    /* position: relative;
    left: 467px;
    bottom: 43px; */
}

.hidden {
    display: none;
}

.exercise {
    margin-top: 10px;
}

.edit-form {
    display: inline-block;
}
.view {
    border:0;
    background:0;
    outline:none !important;
  }

input.programName {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16pt;
    color: #686c70;
    width: 400px;
}

input {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12pt;
    color: #686c70;
}

input.exerciseDetails {
    width: 50px;
}

/* input.categories {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12pt;
    color: #686c70;
}

input.day-name {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12pt;
    color: #686c70;
} */